*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*to box model*/

}
/*Global*/
body{
    font-family: "Merriweather",sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;/*because button was going out of the screen*/

}
.button_primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
        color: #fff;
        padding: 12px 20px;
        margin: 14px;
        border:none;
        cursor: pointer;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.hero_container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.hero_image_container{
    width: 100%;
}
.hero_image{
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-around;
    justify-content: center;
}
.navbar_brand{
    width: 200px;
    /* height: ; */
}
.navbar_logo{
    width: 100%;
    padding: 0px 20px;
    /* cursor: pointer; */
}
.nav_item{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
    color: #fff;
    padding: 12px;
    margin: 14px;
    border:none;
    border-radius: 6px;
}
.hero_text{
    font-size: 50px;
    color: #1d3557;
    margin: 20px 0px ;
}
.food_menu_card{
    width: 100%;
    background-color: white;
    border-radius: 8px;
}
.food_menu_card_description{
    size: 20px;
}
.food_image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.explore_menu_text{
        font-size: 30px;
        text-align: center;
}
.explore_menu_container{
    margin-top: 50px;
}
.explore_menu_view_more{
    text-align: center;
}
.restaurants_grid_row_one,.restaurants_grid_row_two{
    width: 100%;
    display: flex;

}
.reres_1,.res_4{
    width: 100px;
    height: 150px;
}
.reres_2,.res_3{
    width: 150px;
    height: 250px;   
}
@media(min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20 px;
    }
    .navbar_brand{
        width: 150px;
    }
    .nav_item{
        padding: 10px;
        font-size: 20px;

        .container{
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
        .hero_container{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
        .hero_image_container{
            width: 100%;
        }
        .hero_image{
            width: 100%;
        }
    }
    .explore_menu_container{
        position: relative;
    }
    .explore_menu_gradient_bg{
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
      /* to place this background behind the card therefore negative valure otherwise positive */
      z-index: -3;
      transform: skewY(-5deg);

        
    }
    .explore_menu_list{
        margin: 50px;
        display: flex;
        gap: 10px;

    }
    /* .explore_menu_text{
        margin-top: -30px;;
    } */
    #pizza_card{
        margin-top: -20px;
        margin-bottom: 20px;
    }
}
@media(min-width:1020px){
    .container{
        max-width: 900px;

    }
   
    .hero_text{
    font-size: 210px;
    }
}
@media(min-width:1400px){
.container{
        max-width: 1250px;

    }
}